.dot
  overflow hidden
  word-wrap normal
  white-space nowrap
  text-overflow ellipsis
.dot--l2
  display: -webkit-box
  overflow: hidden
  text-overflow: ellipsis
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
.shadow
  box-shadow: 0 0 $radio $light
.container
  margin 0 auto
  width 1200px
