$font = 16px
$radio = $font / 4

$head = 60px
$foot = 200px

// color
$primary = #007aff
$success = #5cb85c
$warning = #f0ad4e
$danger = #f33

$info = #5cb85c
$active = #ff632a

$while = #fff
$fff = $while
$light = #dedede
$gray = #999
$grey = $gray
$dark = #666
$deepDark = #333
$black = #000

$background = #f7f9fc
